{{ $_tag := default "Lifestyle" .Site.Params.header.colorScheme }}

<!-- =======================
Inner intro START -->
<section class="pt-2">
	<div class="container">
		<div class="row">
      <div class="col-12">
        <div class="card bg-dark-overlay-5 overflow-hidden card-bg-scale h-200 text-center" style="background-image:url(/images/blog/16by9/06.jpg); background-position: center left; background-size: cover;">
          <!-- Card Image overlay -->
          <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
            <div class="w-100 my-auto">
              <!-- Card category -->
              <a href="#" class="badge bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>{{ $_tag }}</a>
              <!-- Card title -->
              <h2 class="text-white display-5">{{ .Title }}</h2>
              <!-- Card info -->
              <ul class="nav nav-divider text-white-force align-items-center justify-content-center">
                <li class="nav-item">
                  <div class="nav-link">
                    <div class="d-flex align-items-center text-white position-relative">
                      <div class="avatar avatar-sm">
                        <img class="avatar-img rounded-circle" src="/images/avatar/11.jpg" alt="avatar">
                      </div>
                      <span class="ms-3">by <a href="#" class="stretched-link text-reset btn-link">K.KOBAYAKAWA</a></span>
                    </div>
                  </div>
                </li>
                <li class="nav-item">Nov 15, 2022</li>
                <li class="nav-item">5 min read</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</section>
<!-- =======================
Inner intro END -->
