{{ $_img := default "114new.jpg" "114new.jpg" }} {{ $_avatar := default "119.jpg" "119.jpg" }} {{ if in .Permalink "school" }} {{ $_img = "114new.jpg" }} {{ $_avatar = "119.jpg" }} {{ else if in .Permalink "about" }} {{ $_img = "102.jpg" }} {{ $_avatar
= "119.jpg" }} {{ else if in .Permalink "stuff" }} {{ $_img = "kk-03.jpg" }} {{ $_avatar = "119.jpg" }} {{ else if in .Permalink "schedule" }} {{ $_img = "116new.jpg" }} {{ $_avatar = "119.jpg" }} {{ else if in .Permalink "access" }} {{ $_img = "119.jpg"
}} {{ $_avatar = "119.jpg" }} {{ else if in .Permalink "post" }} {{ $_img = "115-4a.jpg" }} {{ $_avatar = "119.jpg" }} {{ else if in .Permalink "contact" }} {{ $_img = "119.jpg" }} {{ $_avatar = "119.jpg" }} {{ end }}

<!-- =======================
Inner intro START -->
<section class="p-0">
    <div class="container-fluid h-100 p-0 bg-dark">
        <div class="row">
            <div class="col-12">
                <!-- div class="card bg-dark-overlay-5 overflow-hidden card-bg-scale h-200 text-center" style="background-image:url(/images/blog/{{$_img}}); background-position: center left; background-size: cover;" -->
                <div class="card bg-dark-overlay-5 overflow-hidden card-bg-scale h-200 text-center" style="background-image:url(/images/blog/{{$_img}}); background-position: center left;  background-size: cover;">
                    <!-- Card Image overlay -->
                    <div class="card-img-overlay d-flex align-items-center p-0 p-sm-4">
                        <div class="w-100 my-auto">
                            <!-- Card category -->
                            <!-- Card title -->
                            {{ if in .Title "水城卓球" }} {{ partial "inner-intro-index" . }} {{ else }}
                            <h2 class="text-white display-5">{{ .Title }}</h2>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
Inner intro END -->