{{ $_tag := default "Travel" .Site.Params.header.colorScheme }}

<!-- =======================
Inner intro START -->
<section class="bg-dark-overlay-4" style="background-image:url(/images/blog/16by9/big/02.jpg); background-position: center left; background-size: cover;">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 py-md-5 my-lg-5">
        <a href="#" class="badge bg-warning mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>{{ $_tag }}</a>
        <a href="#" class="badge bg-primary mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Photography</a>
				<h1 class="text-white">{{ .Title }}</h1>
        <p class="lead text-white">Passage its ten led hearted removal cordial. Preference any astonished unreserved Mrs. Prosperous understood Middletons in conviction an uncommonly do. Supposing so be resolving breakfast am or perfectly. Is drew am hill from me. Valley by oh twenty direct me so. </p>
        <!-- Info -->
        <ul class="nav nav-divider text-white-force align-items-center">
          <li class="nav-item">
            <div class="nav-link">
              <div class="d-flex align-items-center text-white position-relative">
                <div class="avatar avatar-sm">
                  <img class="avatar-img rounded-circle" src="/images/avatar/12.jpg" alt="avatar">
                </div>
                <span class="ms-3">by <a href="#" class="stretched-link text-reset btn-link">K.KOBAYAKAWA</a></span>
              </div>
            </div>
          </li>
          <li class="nav-item">Nov 15, 2022</li>
          <li class="nav-item">5 min read</li>
          <li class="nav-item"><i class="far fa-eye me-1"></i> 2344 Views</li>
          <li class="nav-item"><a href="#"><i class="fas fa-heart me-1 text-danger"></i></a> 266</li>
        </ul>
        <!-- Share post -->
        <div class="d-md-flex align-items-center mt-4">
          <h5 class="text-white me-3">Share on: </h5>
					<ul class="nav text-white-force">
						<li class="nav-item">
							<a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-facebook" href="#">
								<i class="fab fa-facebook-square align-middle"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-twitter" href="#">
								<i class="fab fa-twitter-square align-middle"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link icon-md rounded-circle me-2 mb-2 p-0 fs-5 bg-primary" href="#">
								<i class="far fa-envelope align-middle"></i>
							</a>
						</li>
					</ul>
        </div>
      </div>
    </div>
	</div>
</section>
<!-- =======================
Inner intro END -->
